@media screen and (max-width:700px) {
    nav ul li a {
        color: #1D1E23;
        font-weight: 700;
        font-size: 1em;
    }
    .fifa {
        font-size: 2.8em;
    }
    .play-text {
        font-size: 2.3em;
    }
}

@media screen and (max-width:500px) {
    nav ul li a {
        color: #1D1E23;
        font-weight: 700;
        font-size: 0.8em;
    }
    .fifa {
        font-size: 2.5em;
    }
    .play-text {
        font-size: 2em;
    }
}

@media screen and (max-width:500px) {
    nav ul {
        display: none;
    }
    .logo {
        font-size: 1.8em;
        font-weight: 700;
    }
}