<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/css/bootstrap.css">
    <link rel="stylesheet" href="../src/css/fontawesome.css">
    <title>Document</title>
</head>

<body>
    <div id="app" class="container mb-5">
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card p-5 bg-danger">
                    Card
                </div>
            </div>
            <div class="col-md-8">
                <a href="#" @click="cycle" class="btn btn-primary">Cycle</a>
                <component :is="currentView"></component>
                <!-- <form-component :author="authorLabel" :title="titleLabel">
                    <h4>{{formheader}}</h4>
                </form-component> -->
            </div>
        </div>
    </div>

    <script src="../src/js/vue.js"></script>
    <script src="./app.js"></script>
</body>

</html>