<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/snake.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Vue-in-Action: Book</title>
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-light bg-primary pl-5 pr-5">
            <div class="container justify-content-around">
                <a class="navbar-brand" href="#">
                    <img src="./assets/snake.png" alt="" width="50" class="d-inline-block align-text-top"> SnakeVue
                </a>
                <a href="#" class="btn btn-light text-black" @click="showCheckout">
                    <span v-if="!showProduct">
                        My Cart Items:
                        <i class="fas fa-shopping-cart"></i>
                        {{cartItemCount || 0}}
                    </span>
                    <span v-else>
                        <i class="fas fa-home"></i>
                        Home                        
                    </span>
                </a>
            </div>
        </nav>
        <br><br>
        <main class="container" v-if="!showProduct">

            <section class="row align-items-center">
                <h2>{{sitename}}</h2>
                <br>

                <div class="col-md-12">
                    <div class="card p-3">
                        <div class="row">
                            <div class="col">
                                <figure class="d-flex justify-content-center">
                                    <img :src="product.image" class="card-img w-50" alt="">
                                </figure>
                            </div>
                            <div class="col col-expand">
                                <h3 class="card-title">{{product.name}}</h3>
                                <h4><big>{{product.price | formatPrice}}</big></h4>
                                <p class="mt-2 mb-2">{{product.description}}</p>
                                <div class="colors">
                                    <div class="color" v-for="color in product.colors" :style="{background:[color]}"></div>
                                </div>
                                <a href="#" v-if="canAddToCart" @click="addToCart" class="btn btn-success mt-5">Add to cart</a>
                                <a href="#" v-else class="btn btn-disabled mt-5">Add to cart</a>
                                <br>

                            </div>
                        </div>
                    </div>

                </div>

            </section>
        </main>
        <main v-else></main>
        <main id="cart">
            <div class="container" v-if="showProduct">
                <div class="row">
                    <div class="col-md-4">
                        Cart Items And Checkout
                    </div>
                    <div class="col-md-8">
                        <div class="form p-5">
                            <form action="#">
                                <div class="row card p-2">
                                    <div class="col-sm-8 m-1">
                                        <input type="text" v-model="order.firstName" class="form-control" placeholder="Firts Name">
                                    </div>
                                    <div class="col-sm-8 m-1">
                                        <input type="text" v-model="order.lastName" class="form-control" placeholder="Last Name">
                                    </div>
                                    <div class="col-sm-8 m-1">
                                        <input type="text" v-model="order.address" class="form-control" placeholder="Address">
                                    </div>
                                    <div class="col-sm-8 m-1">
                                        <select name="states" id="" v-model="order.state" class="form-control">
                                            <option disabled>Select state</option>
                                            <option v-for="(state, key) in order.states" v-bind:value="state">{{key}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-8 m-1">
                                        <input type="text" v-model="order.zip" class="form-control" placeholder="Postal code / Zip">
                                    </div>
                                    <div class="col-sm-8 m-1">
                                        <label for="gift">Gift ?</label>
                                        <input type="checkbox" id="gift" v-model="order.gift">
                                    </div>
                                    <div class="col-sm-6 m-1">
                                        <label for="home">Home</label>
                                        <input type="radio" name="home" :value="order.home" id="home" v-model="order.method">
                                    </div>
                                    <div class="col-sm-6 m-1">
                                        <label for="business">Business</label>
                                        <input type="radio" name="home" :value="order.business" id="business" v-model="order.method">
                                    </div>
                                    <input type="submit" class="btn btn-success mt-3" @click="submitForm">
                                </div>
                                <div class="row card p-2 mt-2">
                                    <div class="col-sm-12 h5 text-left">
                                        <ul class="list-unstyled">
                                            <li>
                                                <span> First Name : {{order.firstName}}</span>
                                            </li>
                                            <li>
                                                <span>Last Name : {{order.lastName}}</span>
                                            </li>
                                            <li>
                                                <span>Address : {{order.address}}</span>
                                            </li>
                                            <li>
                                                <span>State : {{order.state}}</span>
                                            </li>
                                            <li>
                                                <span>Zip : {{order.zip}}</span>
                                            </li>
                                            <li>
                                                <span>Gift : {{order.gift}}</span>
                                            </li>
                                            <li>
                                                <span>Method : {{order.method}}</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else></div>
        </main>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>