<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/snake.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Tasks</title>
</head>

<body>
    <div class="container" id="tasks">
        <br><br>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <center>
                    <h3>{{text}}</h3>
                    <input @keyup="checkLetter" type="text" v-model="text" class="form-control">
                    <br>
                    <!-- <input type="text" v-model="text2" class="form-control"> -->
                    <br>

                </center>
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>